@mixin scrollbars($width, $height, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {

   &::-webkit-scrollbar {
     width:  $width;
     height: $height;
   }
 
   &::-webkit-scrollbar-thumb {
     background: mix($foreground-color, white, 85%);
     border-radius: 0.5rem;
     transition: background-color 2s;
     &:hover {
       background: $foreground-color;
     }
   }
 
   &::-webkit-scrollbar-track {
     background: $background-color;
   }
 
   & {
     scrollbar-face-color: $foreground-color;
     scrollbar-track-color: $background-color;
   }
 }