@import "../../utilities/api";

.select2-dropdown {
  background-color: white;

  box-sizing: border-box;

  display: block;

  position: absolute;
  left: -100000px;
  border: 2px solid #D1D4D7;

  width: 100%;

  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 0 10px 0 40px;
  line-height: 40px;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
}

.select2-results__option--selectable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.dropdown-opened {
  font-size: 0.8rem;
  margin-top: 20px;
  min-width: 220px;
}

.select2-container--open .select2-dropdown {
  left:0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;

  .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &.select2-search--hide {
    display: none;
  }
}
