@import "variables";


.btn-primary {
   border-color: $login-black;
   color: $white;
   background-color: $login-black;
   font-size: 0.9rem;
   border-radius: 0;
   font-weight: bold;
   padding: 0.6rem 0.75rem;
   opacity: 1;
   margin-bottom: 2rem;
   &:not(:disabled):not(.disabled):active,
   &:not(:disabled):not(.disabled):active:focus {
      opacity: 0.95;
      background-color: $login-black;
      box-shadow: 0 0 0.2rem 0.15rem $grey3;
      border-color: $login-black;
   };
   &:hover {
      opacity: 0.9;
      background-color: $login-black;
      border-color: $login-black;
   };
   &:focus {
      box-shadow: none;
   };
};

.btn-secondary {
   background-color: $white;
   border: 0.1rem solid $login-black;
   border-radius: 0;
   margin-bottom: 2.1rem;
   font-weight: bold;
   font-size: 0.9rem;
   padding: 0.5rem 0.75rem;
   &:hover {
      background-color: $login-black;
      color: $white;
   };
   &:not(:disabled):not(.disabled):active,
   &:not(:disabled):not(.disabled):active:focus {
      opacity: 0.9;
      background-color: $login-black;
      box-shadow: 0 0 0.2rem 0.15rem $grey3;
      border-color: $login-black;
   };
};

header~#maincontent .container a:not(.btn-primary):not(.btn-outline-primary):not(.nav-link):not(.link){
   color: $login-black;
   &:hover {
      color: $white;
      border-color: $login-black;
   };
};
