@import "variables";

.form-control-label {
   margin-bottom: 0.5rem;
   font-size: 0.8rem;
   color: #6F6F6F;
}

.form-group{
   margin-bottom: 1.65rem;
}

.form-control {
   font-size: 0.95rem;
   padding: 0.45rem 1.2rem;
   font-family: sans-serif;
   letter-spacing: -0.5px;
   color: $black;
   border-color: $grey4;
   border-radius: 0;
   margin-bottom: 0.6rem;
}

.custom-control {
   padding-left: 1.8rem;
   margin-bottom: 0.9rem;

   &-lbl{
       font-size: 0.8rem;
       line-height: 1.5rem;
       position: relative;
       cursor: pointer;

       &:hover {
           &:before{
               opacity: 0.9;
           };
           &:after{
               border-color: $grey3;
           };
           text-decoration: underline;
       }

       &:before{
           content: "";
           position: absolute;
           top: 0.1rem;
           left: -1.8rem;
           width: 1.2rem;
           height: 1.2rem;
           border: 2px solid $login-black;
           background-color: $grey1;
           transition: all 1s;
       };
       
       &:after{
           content: '';
           opacity: 0;
           position: absolute;
           top: 0.4rem;
           left: -1.6rem;
           padding: 0.15rem 0.35rem;
           border-left: 0.1rem solid $white;
           border-bottom: 0.1rem solid $white;
           transform: rotate(-700deg);
           transition: all 1s;
       }
   };

   &-input:checked {
       ~ .custom-control-lbl::after{
       content: '';
       opacity: 1;
       transform: rotate(316deg);
       };
       ~ .custom-control-lbl::before{
           background-color: $login-black;
           color: $white;
       };
   }; 
}