

.form-check-input {
   display: none;
   &:checked ~ .form-check-label {
       &::after {
           transform: translateY(-50%) scale(1);
           background-color: #3C3E4E;
       }
   }
}

.form-check-label{
    padding-left: 5px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -1.5rem;
        width: 1rem;
        height: 1rem;
        border: 1.5px solid #cacccf;
        background-color: transparent;
        border-radius: 50%;
        transform: translateY(-50%);
    };
    &::after {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        top: 50%;
        left: -1.25rem;
        position: absolute;
        border-radius: 50%;
        transform: translateY(-50%) scale(0);
        transition: all 0.5s;
    }
}