.just-class {
  text-align: right;
  background-color: red;
}

.select2-selection--single {
  // background-color: transparent;
  border: none;
  .select2-selection__rendered {
    font-size: toRem(16);
    color: #41464E;
    line-height: toRem(28);
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px;
    padding-right: 0px;
  }

  .select2-selection__placeholder {
    color: #999;
  }

  .select2-selection__arrow {
    height: 26px;

    position: absolute;

    top: 1px;
    right: 1px;

    width: 20px;

    b {
      position: absolute;

      height: 0;

      top: 45%;
      right: 7px;
      transform: translateY(-10%) rotate(45deg);

      padding: 1px 5px 5px 1px;

      border-bottom: 1.9px solid black;
      border-left: 1.9px solid black;
      transition: all 0.7s;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: #eee;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      b {
        transform: translateY(-50%) rotate(-45deg);
        border-color: #888;
      }
    }
  }
}
